[user]
  name = Ret2Hell
  email = tayeb1920@gmail.com

[includeIf "gitdir:/home/ret2hell/Work/github.com/raiselabs-mohamed/"]
  path = ~/.gitconfig-work

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  dark = true
  hyperlinks = true
  line-numbers = true
  navigate = true
  relative-paths = true

[merge]
  conflictStyle = zdiff3

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[commit]
  verbose = true

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = -version:refname

[diff]
  algorithm = histogram

[rerere]
  enabled = true
  autoupdate = true
