[alias]
	commits = log --color --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	stats = diff --stat

[color]
	diff = auto
	status = auto
	interactive = auto
	ui = true
	pager = true

[commit]
	gpgSign = true

[core]
	editor = vim

[user]
	name = ret2hell
	email = @@@ 
	signingkey = C5953F7E6B3EA3B7
