    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #1a1b26;
        --color01: #1a1b26;
        --color02: #1a1b26;
        --color03: #787c99;
        --color04: #acb0d0;
        --color05: #acb0d0;
        --color06: #acb0d0;
        --color07: #acb0d0;
        --color08: #f7768e;
        --color09: #e0af68;
        --color10: #ff9e64;
        --color11: #9ece6a;
        --color12: #449dab;
        --color13: #7aa2f7;
        --color14: #ad8ee6;
        --color15: #e0af68;
    }
