:root {
--color00: #1a1b26;
--color01: #1a1b26;
--color02: #1a1b26;
--color03: #787c99;
--color04: #acb0d0;
--color05: #a9b1d6;
--color06: #acb0d0;
--color07: #acb0d0;
--color08: #f7768e;
--color09: #e0af68;
--color0A: #ff9e64;
--color0B: #9ece6a;
--color0C: #449dab;
--color0D: #7aa2f7;
--color0E: #ad8ee6;
--color0F: #ff7a93;
}
