@import "/home/eclipze/.config/firefox/fonts/Gohu.css";

@import "/home/eclipze/.config/firefox/colors/colors.css";
@import "/home/eclipze/.config/firefox/colorschemes/purpz.css";

@import "/home/eclipze/.config/firefox/tab_bar/debloat_tab_bar.css";
@import "/home/eclipze/.config/firefox/tab_bar/tabs_layout.css";
@import "/home/eclipze/.config/firefox/tab_bar/tabs_fill_available_width.css";
@import "/home/eclipze/.config/firefox/tab_bar/numbered_tabs.css";
@import "/home/eclipze/.config/firefox/tab_bar/tab_close_button_always_on_hover.css";
@import "/home/eclipze/.config/firefox/tab_bar/hide_tabs_with_one_tab.css";

@import "/home/eclipze/.config/firefox/navbar/debloat_navbar.css";
@import "/home/eclipze/.config/firefox/navbar/navbar_layout.css";
@import "/home/eclipze/.config/firefox/navbar/navbar_on_focus.css";

@import "/home/eclipze/.config/firefox/urlbar/debloat_urlbar.css";
@import "/home/eclipze/.config/firefox/urlbar/urlbar_layout.css";
@import "/home/eclipze/.config/firefox/urlbar/remove_megabar.css";

@import "/home/eclipze/.config/firefox/sidebar/debloat_sidebar.css";
@import "/home/eclipze/.config/firefox/sidebar/sidebar_layout.css";
